<nav class="navbar navbar-light" style="background-color: #bcf0f7;">
  <li class="nav-item dropdown" style="list-style:none;">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Menú
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="/ventas">Ventas</a>
      <a class="dropdown-item" href="/consignaciones">Consignaciones</a>
      <a class="dropdown-item" href="/retiros">Retiros</a>
      <a class="dropdown-item" href="/clientes">Clientes</a>
      <a class="dropdown-item" href="/empresa">Empresa</a>
    </div>
  </li>
  <button class="btn my-2 my-sm-0" type="button" (click)='logout()'>Salir</button>
</nav>
